@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);


body {
	text-align: center;
	font-family: helvetica, sans-serif;
	background: url("http://i.imgur.com/6IKVqu2.png");
	background-color: #000;
	background-size: cover;
	color: #fff;
}
hr{
	width: 360px;
}
a{
	color: #00AEEF;
}
p{
	font-family: Lato, sans-serif;
	text-decoration: normal;
	font-weight: 300;
	letter-spacing: .1em;
	line-height: 1.5em;
}
#slogan{
	font-family: "Cinzel Decorative", Cursive;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .1em;
}
h3{
	font-family: "Cinzel Decorative", Cursive;
	font-weight: 700;
	letter-spacing: .1em;
}
ul{
	text-align: center;
	list-style-type: none;
}
div {
	width: 300px;
	height: 300px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}