header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 300px;
    text-align: center;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 0px, 30px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 50px;
    text-align: center;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 600px;
    text-align: center;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

